<link rel="stylesheet" href="/css/styles.css">
@using Hospital.WebProject.ViewModels.Checkup
@model CheckupIndexViewModel

@if (User.IsInRole("Admin") || User.IsInRole("Doctor") || User.IsInRole("Nurse"))
{
    <div class="mb-3">
        <h2 style="text-align:center">———— Check ups ————</h2>
    </div>
    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="@Model.DoctorID" class="form-label">Doctor: </label>
            <select asp-for="@Model.DoctorID" id="DoctorID" asp-items="@ViewBag.Doctors" class="form-select"></select>
            <span class="text-danger" asp-validation-for="@Model.DoctorID"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Date" class="form-label">Date: </label>
            <input asp-for="@Model.Date" id="Date" type="date" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="@Model.Date" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Time" class="form-label">Available Time: </label>

            <select asp-for="@Model.Time" id="Time" class="form-select">
                <option>Select time</option>
            </select>
            <span asp-validation-for="@Model.Time" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>
    </form>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

