<link rel="stylesheet" href="/css/styles.css">
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form id="registerForm" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center mb-3">
                <label asp-for="@Model.FirstName">First name</label>
                <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.FirstName" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.LastName">Last name</label>
                <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.LastName" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Email">Email</label>
                <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.Email" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Password">Password</label>
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="Role">Register as</label>
                <select id="roleSelect" class="form-control" asp-for="Role">
                    <option value="" style="text-align:center">-- Select role --</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Nurse">Nurse</option>
                    <option value="Patient">Patient</option>
                </select>
            </div>
            <div id="doctorFields" style="display:none;">
                <div class="text-center mb-3">
                    <label asp-for="SpecializationId">Specialization</label>
                    <select asp-for="SpecializationId" class="form-control">
                        <option value="">-- Select specialization --</option>
                        @foreach (var s in ViewBag.Specializations)
                        {
                            <option value="@s.ID">@s.SpecializationName</option>
                        }
                    </select>
                </div>

                <div class="text-center mb-3">
                    <label asp-for="ShiftId">Shift</label>
                    <select asp-for="ShiftId" class="form-control">
                        <option value="">-- Select shift --</option>
                        @foreach (var s in ViewBag.Shifts)
                        {
                            <option value="@s.ID">@s.Type</option>
                        }
                    </select>
                </div>

                <div class="text-center mb-3">
                    <label asp-for="ImageURL">Image URL</label>
                    <input class="form-control" asp-for="ImageURL" />
                </div>
            </div>

            <div id="patientFields" style="display:none;">

                <div class="text-center mb-3">
                    <label asp-for="DoctorId">Doctor</label>
                    <select asp-for="DoctorId" class="form-control" asp-items="@ViewBag.Doctors">
                        <option value="">-- Select a Doctor --</option>
                    </select>
                </div>

                <div class="text-center mb-3">
                    <label asp-for="RoomId">Room</label>
                    <select asp-for="RoomId" class="form-control" asp-items="@ViewBag.Rooms">
                        <option value="">-- Select a Room --</option>
                    </select>
                </div>

                <div class="text-center mb-3">
                    <label asp-for="PhoneNumber"></label>
                    <input class="form-control" asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="text-center mb-3">
                    <label asp-for="BirthCity">Birth City</label>
                    <select asp-for="BirthCity" class="form-control" asp-items="@ViewBag.Cities">
                        <option value="">-- Select a City --</option>
                    </select>
                </div>

                <div class="text-center mb-3">
                    <label asp-for="DateOfBirth"></label>
                    <input class="form-control" type="date" asp-for="DateOfBirth" />
                </div>

                <div class="text-center mb-3">
                    <label asp-for="UCN"></label>
                    <input class="form-control" asp-for="UCN" />
                </div>

            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
<script>
    const roleSelect = document.getElementById("roleSelect");
    const doctorFields = document.getElementById("doctorFields");
    const patientFields = document.getElementById("patientFields");

    roleSelect.addEventListener("change", function () {
        let role = this.value;

        doctorFields.style.display =
            (role === "Doctor" || role === "Nurse") ? "block" : "none";

        patientFields.style.display =
            (role === "Patient") ? "block" : "none";
    });
</script>
