<link rel="stylesheet" href="/css/styles.css">
@using Hospital.WebProject.ViewModels.Medication
@model MedicationIndexViewModel
@if (User.IsInRole("Admin"))
{

    <div class="mb-3">
        <h2 style="text-align:center">———— Medications ————</h2>
    </div>
    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label">Medication: </label>
            <input asp-for="@Model.Name" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Name"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label">Description: </label>
            <input asp-for="@Model.Description" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Description"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.SideEffects" class="form-label">Side effects: </label>
            <input asp-for="@Model.SideEffects" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.SideEffects"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.DiagnoseID" class="form-label">Medication for diagnose: </label>
            <select asp-for="@Model.DiagnoseID" asp-items="ViewBag.Diagnose" class="form-select" ></select>
            <span class="text-danger" asp-validation-for="@Model.DiagnoseID"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Index" class="btn btn-secondary" style="display:inline">Back</a>
        </div>
    </form>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}