@using Hospital.WebProject.ViewModels.Medication
@model List<MedicationIndexViewModel>

<link rel="stylesheet" href="/css/styles.css">

<div class="mb-3">
    <h2 style="text-align:center">———— Medications ————</h2>
</div>

<div class="mb-3 d-flex justify-content-end" style="font-family: 'Cambria'; font-size: 24px">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-success" style="font-family: 'Cambria'; font-size: 20px">+ Create</a>
    }
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary ms-3" style="font-family: 'Cambria'; font-size: 20px">← Back</a>
</div>

<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".medicationCollapse" aria-expanded="false">
        All medications
    </button>
</p>

@foreach (var item in Model)
{
    <div style="min-height:120px;">
        <div class="collapse collapse-horizontal medicationCollapse">
            <div class="card card-body text-black" style="width:300px;">
                <b>@item.Name</b> <br />
                Description: @item.Description <br />
                Side effects: @item.SideEffects <br />
                Diagnose: @(item.DiagnoseName ?? "No diagnose assigned") <br /><br />

                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning mb-2">Edit</a>
                    <form asp-action="Delete" asp-route-id="@item.ID" method="post" style="display:inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                }
            </div>
        </div>
    </div>
}